{% extends "authenticated_layout.twig" %}

{% block content%}
<div class="container">
    <h1><span class="label label-success">Profile saved</span></h1>
    <div class="alert alert-success">Your profile was properly saved</div>
</div>
{% endblock content %}